@model Interview_Test.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Task List";
}
<div class="row">
    &nbsp;
</div>
<div class="row">
    <div class="col-md-6">
        <h3>Add Task</h3>
        @using (Html.BeginForm("Create", "Home", FormMethod.Post))
        {
            @Html.TextBoxFor(m => m.CreateTaskModel.Title)
            <br />
            @Html.TextBoxFor(m => m.CreateTaskModel.Description)
            <br/>
            @*@Html.DropDownListFor(m => m.DependentTask, Model.SelectTaskList)*@
            @Html.DropDownListFor(m => m.CreateTaskModel.DependentTaskId, new SelectList(Model.TaskList, "Id", "Title"), "Select dependent task")
            <br/>
            <br />
            <input type="submit" value="Save" class="btn btn-default" />
        }
    </div>    
</div>

<div class="row">
    <div class="col-md-6">
        
        @Html.ValidationSummary()
        
        <ul>
            @foreach (var ti in Model.TaskList)
            {
                <li>
                    <span style="font-weight: bold;">@Html.ActionLink(ti.Title, "Detail", "Home", null, null, "", new { id = ti.Id.ToString() }, null)</span>
                    <br />
                    @ti.Description
                    <br />
                    @Html.CheckBoxFor(m => ti.Complete, new { disabled = true })
                </li>
            }
        </ul>
    </div>
</div>